@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  scroll-snap-type: x mandatory;
}
.home-cat {
  scroll-snap-align: start;
}
.unimart-logo {
  width: 170px;
}
.nav {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 4;
}
.main-nav {
  background: #ffffff;
  box-shadow: 0px 2px 50px rgba(51, 0, 255, 0.11);
  border-radius: 5px;
  padding: 10px 6%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-search {
  border: none;
  width: 100%;
  outline: none;
  transition: all 0.3s;
  padding: 3px 10px;
  border-radius: 5px;
  border-bottom: 2px solid #3300ff;
  font-size: 12px;
}
.nav-input-search-cont,
.nav-input-search-cont1 {
  width: 40vw;
  position: relative;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.15));
  border-radius: 5px;
}
.nav-input-search-cont1 {
  width: unset;
  display: none;
}
.nav-search-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}

.nav-logincont {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navlogin {
  border: 2px solid #3300ff;
  padding: 5px 14px;
  border-radius: 5px;
  font-weight: 500;
  color: #3300ff;
  cursor: pointer;
  font-size: 12px;
}
.navsignup {
  background-color: #3300ff;
  padding: 5px 14px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  gap: 5px;
}
.hero-container {
  display: flex;
  padding-top: 15vh;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin: 50px 6%;
}
.herosellcont {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  border: 2px solid #ff5208;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.herosellcont p {
  color: #ff5208;
  font-weight: 500;
}
.hero-btn-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.unimartheroicon {
  width: 370px;
  transition: all 0.3s;
}
.animate {
  position: relative;
  animation-name: heroimg;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.animateconnect {
  position: relative;
  animation-name: animeconnect;
  animation-duration: 4s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes animeconnect {
  0% {
    position: relative;
    left: 900px;
  }

  100% {
    right: 0px;
  }
}

@keyframes heroimg {
  0% {
    transform: rotate(60deg);
    position: relative;
    right: 400px;
  }
  /* 20% {
    transform: rotate(120deg);
    position: relative;
    right: 300px;
  }
  40% {
    transform: rotate(180deg);
    right: 200px;
  }
  60% {
    transform: rotate(240deg);
    right: 100px;
  }
  80% {
    transform: rotate(300deg);
    right: 50px;
  } */
  100% {
    transform: rotate(360deg);
    right: 0px;
  }
}
.category-container {
  width: 90vw;
  margin: 0px auto;
  position: relative;
}
/* category homepage styling */
.homepage-category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 90vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
.rightcategory,
.leftcategory {
  position: absolute;
  width: 40px;
  right: -18px;
  z-index: 3;
  top: 130px;
}
.leftcategory {
  left: -18px;
}
.electronics {
  margin-top: 20px;
}
.electronics .mobile,
.electronics,
.furniture,
.beauty,
.pets {
  transition: all 0.3s;
  cursor: pointer;
}
.mobile:hover,
.electronics:hover,
.furniture:hover,
.beauty:hover,
.pets:hover {
  transform: scale(1.1);
}
/* trednding ads */
.trendingadborder {
  width: 40vw;
  border-bottom: 2px solid #ff5208;
}
.trendingadtextcontainer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block: 20px;
  padding: 0px 6%;
}

.trendingadscont {
  display: grid;
  padding: 10px 6%;
  gap: 30px;
  grid-template-columns: repeat(4, auto);
}
.trendingadsbox {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.29);
  width: 20vw;
  cursor: pointer;
  position: relative;
  border-radius: 0px 0px 10px 0px;
}
.box-minicategory {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.29);
  padding: 2px 5px;
  font-size: 500;
}
.bookmark,
.servicesbookmark {
  position: absolute;
  right: 10px;
  top: 23vh;
  z-index: 3;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.29);
}
.servicesbookmark {
  top: 26vh;
}
.ad-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.productinfo {
  background: #ffffff;
  display: flex;
  align-items: flex-end;
  gap: 7px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding-block: 7px;
  padding-left: 30px;
  border-radius: 50px 0px 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.29);
}
.box-location {
  margin-bottom: 3px;
}
.productname,
.productprice {
  color: #ff5208;
  font-weight: 600;
  font-size: 14px;

  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides any overflowing text */
  text-overflow: ellipsis; /* Adds ellipsis (...) to indicate truncated text */
  width: 95%; /* Sets the width of the paragraph element */
}
.productprice {
  color: #000000;
}
.universitycont {
  color: #000000;
  font-size: 10px;
  font-weight: 400;
}

.listingcontt {
  margin-block: 50px;
}
.footer-container {
  background-color: #3300ff;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 6%;
}

.svgfooterimgs {
  width: 100%;
  height: 230px;
}
.footerinfocont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 9%;
  margin-top: 15px;
}
.footerinfocont ul li {
  margin-block: 14px;
  cursor: pointer;
}
.footer1ul {
  font-weight: 700;
  font-size: 14px;
}
.footersmallfont {
  font-size: 11px;
}
.footer-social-mediaicons {
  display: flex;
  gap: 17px;
  cursor: pointer;
  margin-top: 10px;
}

.footer-copyright {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 71.5vw;
  margin-top: 20px;
  margin-left: auto;
}
.foot-c {
  display: flex;
  gap: 10px;
}

.hambugger-nav {
  z-index: 6;
  display: none;
  cursor: pointer;
}

.nav-bar,
.bar-active {
  width: 24px;
  height: 3px;
  background-color: #3300ff;
  border-radius: 10px;
  margin-block: 5px;
  transition: all 0.3s ease-in-out;
}

.bar-active:nth-of-type(1) {
  transform: rotate(50deg) translateY(-7px) translateX(5px);
  width: 27px;
}
.bar-active:nth-of-type(2) {
  display: none;
}
.bar-active:nth-of-type(3) {
  transform: rotate(128deg) translateX(-12px);
  width: 27px;
}

.showmenu,
.showmenuactive {
  position: fixed;
  z-index: 5;
  top: 0px;
  right: -1800px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}
.showmenuactive {
  right: 0px;
}
.mainshow {
  width: 80%;
  height: 100%;
  margin-left: auto;
  padding: 20% 10%;
  background-color: #ffffff;
}
.nav-logincont1 div {
  margin-block: 15px;
}
.loginpage {
  display: flex;
  font-family: sans-serif;
}
.logininfo {
  position: relative;
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signuplogo {
  display: none;
  position: absolute;
  top: 20px;
  left: 9%;
  width: 170px;
}
.mainloginifo {
  max-width: 40vw;
}
.signin-btn {
  background-color: #3300ff;
  text-align: center;
  width: 100%;
  font-weight: 600;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 7px;
}
.mainloginifo input {
  width: 100%;
  margin-block: 12px;
  padding-block: 5px;
  border-bottom: 1px solid;
  color: rgba(0, 0, 0, 0.29);
  outline: none;
}
.forgotpassword {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #3300ff;
}
.loginimg {
  flex-basis: 65%;
  height: 100vh;
}
.Signinimg {
  height: 100vh;
  object-fit: cover;
  object-position: center;
}
.signintext {
  font-size: 20px;
  font-weight: 600;
}
.link-text {
  font-size: 14px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.4);
}
.su-link {
  color: #3300ff;
  margin-left: 10px;
  font-weight: 600;
  text-decoration: none;
}
.signupform {
  max-width: 30vw;
}
.signupform input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 7px;
  outline: none;
  margin-block: 6px;
  background-color: #f3f3f4;
}
.signupform label {
  color: #0d0c22;
  margin-block: 15px;
}
.Su-si-text {
  font-size: 32px;
  color: #0d0c22;
  margin-bottom: 20px;
  font-weight: 600;
}
.signup-name-flex {
  display: flex;
  gap: 13px;
  justify-content: space-between;
  align-items: center;
}
.main-user-login {
  font-family: sans-serif;
  display: flex;
}

.mainuser-img-cont {
  flex-basis: 40%;
}
.mainuser-img {
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.user-info-cont {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.switch-user-info {
  position: absolute;
  top: 30px;
  right: 8%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0d0c22;
  font-size: 14px;
}
.input-text {
  font-size: 15px;
  color: #0d0c22;
  font-weight: 600;
}
.forgot-password {
  font-size: 14px;
  color: #3300ff;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}
.switch-btn-component {
  font-weight: 600;
  color: #0d0c22;
  cursor: pointer;
  background-color: #f3f3f4;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 8px;
}
.suname,
.siemail,
.sipassword,
.suusername,
.suemail,
.supassword {
  transition: all 0.3s ease-in-out;
}
.suname:hover,
.suusername:focus,
.suusername:hover,
.suname:focus,
.suemail:focus,
.suemail:hover,
.supassword:hover,
.supassword:focus,
.siemail:hover,
.siemail:focus,
.sipassword:focus,
.sipassword:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(51, 0, 255, 0.425);
}
.suusername:focus,
.suname:focus,
.suemail:focus,
.supassword:focus,
.siemail:focus,
.sipassword:focus {
  border: 1px solid rgba(51, 0, 255, 0.582);
}
.err-msg {
  box-shadow: 0px 0px 10px rgba(255, 82, 8, 0.911);
  border: 1px solid rgba(255, 82, 8, 0.938);
  background-color: #ffffff;
}
.create-account-btn {
  background-color: #3300ff;
  width: 45%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  padding: 8px 16px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 9px;
}
@media (max-height: 500px) {
  .user-info-cont {
    margin-block: 50px;
    height: unset;
    flex-direction: column;
  }
  .signuplogo {
    position: unset;
    margin-right: auto;
    margin-top: 30px;
    margin-left: 10%;
  }
  .switch-user-info {
    position: unset;
    gap: 5px;
    margin: unset;
    padding-top: 20px;
  }
  .switch-btn-component {
    padding: unset;
    background: transparent;
    color: #3300ff;
  }
}
@media (max-width: 920px) {
  .nav-input-search-cont {
    display: none;
  }
  .main-user-login {
    display: block;
  }
  .mainuser-img-cont {
    display: none;
  }
  .user-info-cont {
    height: 100vh;
    flex-basis: unset;
    width: unset;
    flex-direction: column;
  }
  .signupform {
    max-width: unset;
    max-width: 60vw;
  }
  .create-account-btn {
    width: 100%;
  }
  .nav-input-search-cont1 {
    margin-top: 10px;
    display: block;
  }
  .navbar-search {
    padding: 8px 10px;
  }
  .nav-search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .trendingadscont {
    padding: 10px 6%;

    grid-template-columns: repeat(2, auto);
  }
  .trendingadsbox {
    width: 100%;
    height: unset;
    height: 100%;
  }
  .hero-container {
    gap: unset;
    justify-content: space-between;
    margin: 50px 6%;
  }
  .hero-btn-cont {
    display: block;
  }
  .herosellcont {
    margin-bottom: 10px;
  }
  .signuplogo {
    display: block;
  }
}
@media (max-width: 500px) {
  .hero-container {
    display: block;
  }
  .footer-social-mediaicons {
    display: none;
  }
  .navlogin {
    display: block;
  }
  .hambugger-nav {
    display: block;
  }
  .nav-logincont {
    display: none;
  }
  .bookmark,
  .servicesbookmark {
    top: unset;
    bottom: 54px;
    width: 24px;
    right: 9px;
  }
  .servicesbookmark {
    bottom: 30px;
  }

  .productinfo {
    padding: 3px 15px;
  }
  .productabbreviaton {
    display: none;
  }
  .productuniversity {
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* Adds ellipsis (...) to indicate truncated text */
    width: 83%;
  }
  .universitycont {
    font-size: 8px;
  }
  .homepage-category {
    gap: unset;
    width: 20rem;
    height: 20rem;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: unset;
    scroll-snap-type: x mandatory;
  }
  .home-cat {
    min-width: 20rem;
    height: 20rem;
    transform: unset;
    scroll-snap-align: center;
  }
  .unimartheroicon {
    display: none;
  }
  .signupform {
    max-width: 80vw;
  }
  .signup-name-flex {
    display: block;
  }
  .signuplogo {
    position: unset;
    margin-bottom: 15%;
    margin-right: auto;
    margin-left: 5%;
  }
  .switch-user-info {
    gap: 5px;
    position: unset;
    padding-top: 20px;
  }
  .switch-btn-component {
    padding: unset;
    background: transparent;
    color: #3300ff;
  }
}
